.navbar {
    width: 100%;
}

.character {
    margin-top: 30px;
}

.creeps {
    margin-top: 30px;
}

.spells .spellImg {
    width: 38px;
    height: 38px;
}

.character-image img {
    height: 228px;
    width: 160px;
}

.character-image {
    margin-bottom: 25px;
}

.spellbook-form {
    margin-top: 3px;
}

.bottom-button {
    margin-top: 15px;
}

.spells {
    margin-top: 10px;
}

.talent-counter, .points-button {
    width: 50px;
}

.combat-text {
    width: 100%;
    height: 50vh;
    overflow: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}