.navbar {
    width: 100%;
}

.character {
    margin-top: 30px;
}

.creeps {
    margin-top: 30px;
}

.spells .spell-img {
    width: 40px;
    height: 40px;
}

.branch-img {
    width: 138px;
    height: 138px;
}

.talent-img {
    width: 44px;
    height: 44px;
}

.character-image img {
    height: 228px;
    width: 160px;
}

.character-image {
    margin-bottom: 25px;
}

.spellbook-form {
    margin-top: 3px;
}

.bottom-button {
    margin-top: 15px;
}

.spells {
    margin-top: 10px;
}

.talent-counter, .points-button {
    width: 50px;
}

.combat-text {
    width: 100%;
    height: 50vh;
    overflow: auto;
}

.effect-img {
    width: 30px !important;
    height: 30px !important;
    border: solid 1px rgba(0, 0, 0, 0.28);
    margin-right: 2px;
}

.slot {

}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}