.navbar {
    width: 100%;
}

.character {
    margin-top: 30px;
}

.creeps {
    margin-top: 30px;
}

.spells .spell-img {
    width: 40px;
    height: 40px;
}

.branch-img {
    width: 138px;
    height: 138px;
}

.branch {
    float: left;
    margin-right: 80px;
    text-align: center;
}

.branches {
    overflow: hidden;
}

.talent-img {
    width: 44px;
    height: 44px;
}

.character-image img {
    height: 228px;
    width: 160px;
}

.character-image {
    margin-bottom: 25px;
}

.spellbook-form {
    margin-top: 3px;
}

.bottom-button {
    margin-top: 15px;
}

.spells {
    margin-top: 10px;
    overflow: hidden;
}

.talent-counter, .points-button {
    width: 50px;
}

.combat-text {
    width: 100%;
    height: 50vh;
    overflow: auto;
}

.effect-img {
    width: 30px !important;
    height: 30px !important;
    border: solid 1px rgba(0, 0, 0, 0.28);
    margin-right: 2px;
}

.slot {

}

.action-bar-slot {
    position: relative;
    text-align: center;
    float: left;
    margin-right: 3px;
}

.cooldown {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3px;
    left: -1px;
    font-size: 30px;
    color: #00dbff;
}

.cooldown-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
}

.talent {
    float: left;
    margin-right: 30px;
    text-align: center;
}

.talents {
    overflow: hidden;
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}